body {
	background-color: lightblue
}

h1 {
	font-family: 'Lobster', cursive;
	font-weight: bold;
}

ul {
	font-family: 'Lobster', cursive;
	list-style-type: none;
}

a {
	display: inline;
	background-color: lightblue;
	color: purple;
	text-align: left;
	text-decoration: none;
	font-size: 20;
}

a:hover {
	color: blue;
}

a:active {
	color: yellow;
}

img {
 	position: fixed;
 	left: 300px;
 }